Ref-data/5-4/5-4.json
{
  "name": "5-4",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b562d95f-cf33-4246-954d-4556899d3a69",
              "name": "stock",
              "value": "[{ \"code\": \"NVDA\", \"market\": \"USA\" }]",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        352,
        48
      ],
      "id": "e4a2fe82-1103-4a60-a9d0-36569a53b3f9",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        800,
        48
      ],
      "id": "0d46eb10-80e0-41aa-9ec4-5a6fe55d4acf",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "02e0b852-2465-4607-b71b-5d65cf8415f4",
                    "leftValue": "={{ $json.market }}",
                    "rightValue": "USA",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "USA"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "5c1d522e-b553-4193-ba9f-3d85c7f5e672",
                    "leftValue": "={{ $json.market }}",
                    "rightValue": "TW",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "TW"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1088,
        48
      ],
      "id": "a2c76671-bf4b-43dc-a440-edb542cb4a7a",
      "name": "Switch"
    },
    {
      "parameters": {
        "url": "=https://financialmodelingprep.com/api/v3/historical-price-full/{{ $json.code }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "apikey"
            },
            {
              "name": "from",
              "value": "={{ $now.setZone('Asia/Tokyo').minus({ days: 120 }).toFormat('yyyy-MM-dd') }}"
            },
            {
              "name": "to",
              "value": "={{ $now.toFormat('yyyy-MM-dd') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1328,
        -48
      ],
      "id": "284b1823-732a-440f-a8c0-3153233612df",
      "name": "FMP"
    },
    {
      "parameters": {
        "url": "https://api.finmindtrade.com/api/v4/data",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "dataset",
              "value": "TaiwanStockPrice"
            },
            {
              "name": "data_id",
              "value": "={{ $json.code }}"
            },
            {
              "name": "start_date",
              "value": "={{ $now.setZone('Asia/Tokyo').minus({ days: 120 }).toFormat('yyyy-MM-dd') }}"
            },
            {
              "name": "token"
            },
            {
              "name": "end_date",
              "value": "={{ $now.toFormat('yyyy-MM-dd') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1328,
        144
      ],
      "id": "2b1c6ac0-b918-4642-9e88-08fbb3ba08a9",
      "name": "FinMind"
    },
    {
      "parameters": {
        "fieldToSplitOut": "stock",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        560,
        48
      ],
      "id": "94ba76c1-ea3e-4a82-9d9a-e3c82677054c",
      "name": "Split Out"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=請針對股票代碼 {{ $('Switch').item.json.code }} 進行技術分析，專門負責識別「超跌反彈」投資機會。請使用提供的三個專業工具來全面評估股票，判斷是否符合超跌反彈的條件。\n\n## 策略邏輯說明\n此策略尋找經歷明顯下跌後，出現技術指標超賣且型態反轉訊號的股票。四個條件需要在相同時間框架內相互印證，而非獨立判斷。\n\n## 詳細分析要求\n### 條件1：布林通道極值分析\n- 計算20日布林通道：中線為20日簡單移動平均線，上軌為中線+2倍標準差，下軌為中線-2倍標準差\n- 重點檢查：在形成低點（特別是W底的兩個低點）時，股價是否觸及或跌破下軌\n- 量化指標：計算低點時股價與下軌的距離百分比\n- 回升確認：檢查股價是否已經重新站回下軌之上\n\n### 條件2：RSI超賣狀態驗證\n- 計算14日RSI在低點形成期間的數值\n- 超賣確認：RSI是否曾跌破30\n- 背離分析：比較W底兩個低點時的RSI數值，第二個低點的RSI是否高於第一個低點\n- 回升動能：RSI是否已經從最低點開始回升\n\n### 條件3：W底型態完整性檢驗\n- 型態搜尋範圍：近60個交易日內的完整W底型態\n- 第一低點：必須是明顯的波段低點，伴隨放量或跌破布林下軌。\n- 反彈高點：第一低點後必須有一次反彈，形成頸線。\n- 第二低點：必須出現在反彈高點之後，且收盤價與第一低點差異不超過10%，成交量較第一低點縮小。\n- 頸線定義：連接兩個低點間反彈高點的水平線或略微上升線\n- 成交量配合：第一個底部大量，第二個底部量縮，接近突破頸線時量能開始增加\n- 頸線突破：必須觀察到股價突破頸線，且突破當日或之後成交量放大，才確認型態成立。\n\n### 條件4：AD指標資金流向分析\n- 計算完整的AD累積派發線數據\n- 底部確認：AD指標在股價低點時是否也同步創低\n- 背離訊號：股價形成第二個低點時，AD指標是否未創新低\n- 回升確認：AD指標是否在近10個交易日內出現明確的上升趨勢\n- 力度評估：AD指標回升的斜率和持續性\n\n## 綜合評估框架\n### 時序邏輯檢查\n1. 確認四個條件發生的時間順序是否合理\n2. W底形成期間，其他三個指標是否同步出現相應訊號\n3. 當前階段：是否處於W底完成並開始突破的關鍵時點\n\n**分析方式**：\n1. 使用「Trend Analysis」工具分析趨勢和布林通道等趨勢分析，判斷策略分析中的要求\n2. 使用「Technical Indicator Analysis」工具檢查RSI、AD、MACD 等指標，判斷策略分析中的要求\n3. 使用「Chart Pattern Analysis」工具識別型態例如W底型態、頭肩頂形態等，判斷策略分析中的要求\n4. 綜合三個工具的分析結果，判斷是否符合超跌反彈策略中的條件\n\n股價數據：{{ $json.prices }}\n\n**輸出要求**：\n- 如果符合所有4個條件，回傳「**超跌反彈機會確認** - [股票代碼]符合超跌反彈條件，建議關注」\n- 如果不符合，回傳「條件不符 - [股票代碼]未達超跌反彈標準」\n- 提供具體的分析細節和各項指標數值\n\n**風險提醒**：\n所有分析結果僅供教育學習用途，不構成投資建議。",
        "options": {
          "systemMessage": "你是一位資深的股票分析師，具備豐富的技術分析和量化分析經驗。你的分析風格客觀、專業，善於整合多元資訊提供深度見解。\n\n分析原則：\n1. 客觀中立：基於數據和事實進行分析，避免主觀推測\n2. 風險意識：適當提醒潛在風險和不確定性\n3. 教育導向：所有分析僅供教育和學習用途，不構成投資建議\n\n請使用繁體中文回覆，保持專業但易懂的表達方式。"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        1792,
        160
      ],
      "id": "0bbd318e-b77f-4dc0-875a-fb38e97ae20a",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  // 處理 FMP API 回傳的資料 (美股)\n  if (item.json.historical) {\n    const pricesData = item.json.historical.map(day => ({\n      date: day.date,\n      open: day.open,\n      high: day.high,\n      low: day.low,\n      close: day.close,\n      volume: day.volume\n    }));\n    \n    return {\n      json: {\n        code: item.json.symbol,\n        market: \"USA\",\n        prices: JSON.stringify(pricesData)  // 移除格式化參數，變成緊湊格式\n      }\n    };\n  }\n  \n  // 處理 FinMind API 回傳的資料 (台股)\n  if (item.json.data && item.json.data.length > 0) {\n    const pricesData = item.json.data.map(day => ({\n      date: day.date,\n      open: day.open,\n      high: day.max,\n      low: day.min,\n      close: day.close,\n      volume: day.Trading_Volume\n    }));\n    \n    return {\n      json: {\n        code: item.json.data[0].stock_id,\n        market: \"TW\",\n        prices: JSON.stringify(pricesData)  // 移除格式化參數，變成緊湊格式\n      }\n    };\n  }\n  \n  return { json: {} };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1552,
        80
      ],
      "id": "ae85254f-06fd-46ba-8c39-93f8894f5d4f",
      "name": "Code"
    },
    {
      "parameters": {
        "chatId": "-4881332018",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1072,
        -176
      ],
      "id": "2a94509f-a561-4b07-8109-d9efb6b32ae4",
      "name": "Send a text message",
      "webhookId": "af06958e-c944-4692-988d-54e1485dfa3f",
      "credentials": {
        "telegramApi": {
          "id": "ItP74dWZ3ris32YF",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        128,
        48
      ],
      "id": "749ab595-a64d-43dc-8b4f-1ae1bcb33667",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-sonnet-4-20250514",
          "mode": "list",
          "cachedResultName": "Claude Sonnet 4"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        1664,
        368
      ],
      "id": "76d6b392-c82e-4e2a-917b-393cdd71518c",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "o9eoy4lkNvzVUjRO",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "專門監測並解析金融市場價格走勢，根據歷史資料及當前市況，透過均線和布林通道等方法，辨識目前股價趨勢正在上升、下降或盤整，協助其他 AI 制定順勢或反向交易策略。",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {
          "systemMessage": "你是一位趨勢分析的專家"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        1888,
        432
      ],
      "id": "abae1ccf-077d-42e7-9ed4-46e9f1b2c6d6",
      "name": "Trend Analysis"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1824,
        576
      ],
      "id": "21636d11-6a65-473d-81d2-e8a7a7ba9e9e",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "2f41MORKnohpi0Li",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        2208,
        592
      ],
      "id": "48d579db-f196-45b3-a496-330ff9921b93",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "2f41MORKnohpi0Li",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "自動辨識K線圖表上的常見型態（如頭肩頂、W底、M頭、三角收斂等），分析型態出現位置與目前股價是否處於型態完成的階段，協助其他 AI 工具判斷重要支撐阻力或反轉時點。",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {
          "systemMessage": "你是一位K線圖型態分析的專家"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        2608,
        416
      ],
      "id": "2afe2c21-6e3d-477d-a6e0-4aab68fcfe7b",
      "name": "Chart Pattern Analysis"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        2528,
        560
      ],
      "id": "c233ca11-5c08-4a35-b8de-4c82db3dda3c",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "2f41MORKnohpi0Li",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "負責收集並計算各類技術指標（如KD、MACD、RSI等），根據指標變化判斷市場強弱、動能、超買/超賣狀態，提供客觀量化的買賣信號予其他 AI 工具調用。",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {
          "systemMessage": "你是一位技術分析指標的專家"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        2240,
        448
      ],
      "id": "04d212c2-c16e-4e43-afec-e7146cb2d255",
      "name": "Technical Indicator Analysis"
    }
  ],
  "pinData": {},
  "connections": {
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "FMP",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "FinMind",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FMP": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FinMind": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Trend Analysis": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Trend Analysis",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Technical Indicator Analysis",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Chart Pattern Analysis": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Chart Pattern Analysis",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Technical Indicator Analysis": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ed9fb207-90c5-463e-9123-5cb8700bb68d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1ba08afc1dd59121b2c41e37c22d133ddad3ab99d97b7fa1a3dcf3f57469899c"
  },
  "id": "hqhSgzROwpktYBQV",
  "tags": []
}